/* Common Start */
@font-face{
	font-family: Roboto-Regular;
	src: url(../fonts/roboto/Roboto-Regular.ttf);
}

@font-face{
	font-family: Roboto-Bold ;
	src: url(../fonts/roboto/Roboto-Bold.ttf);
}

@font-face{

	font-family: Lato-Regular ;
	src: url(../fonts/Lato/Lato-Regular.ttf);
}

@font-face{

	font-family: Lato-Medium ;
	src: url(../fonts/Lato/Lato-Medium.ttf);
}

@font-face{

	font-family: Lato-Bold ;
	src: url(../fonts/Lato/Lato-Bold.ttf);
}

@font-face{

	font-family: Lato-Light ;
	src: url(../fonts/Lato/Lato-Light.ttf);
}

body{
	font-family: Roboto-Regular;
	font-size: 16px;
	font-weight: 400;
	color: #8e8e8e;
}

/* Common End */

/* header start */
  
.header{

}

.c_nav{
	
}

.logo{
	font-family: Lato-Medium ;
	font-size: 30px;
	font-weight: 500;
	color: #333333;
}


.menu{

}


.menu ul li a{

}

.menu ul li a:hover{

}

.button .navc{
	
}


/* header end */

/* slider start */
  
.slider{

}

.s_h1{

}

.s_p{

}


.s_button{

}





/* slider end */

/* service start */
  


/* service end */

/* about us start */
  


/* about us end */

/* portfolio start */
  


/* portfolio end */

/* Why nipro start */
  


/* Why nipro end */

/* team member start */
  


/* team member end */

/* pricing start */
  


/* pricing end */

/* testimonial start */
  


/* testimonial end */

/* contact start */
  


/* contact end */

/* footer start */
  


/* footer end */

